*,
*::after,
*::before {
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: auto;
}

.h1 {
    margin-left: 200px;
    font-size: 15px;
}

.img {
    max-width: 200px;
    margin-left: 20%;
}

.inputDiv {
    max-height: 20px;
    margin-top: 19px;
}

.input {
    margin-left: 200px;
    max-width: 30px;
}

.word {
    max-height: 10px;
    font-size: 10px;
    margin-left: 200px;
}

.button {
    margin-left: 240px;
    margin-top: -19px;
}