*,
*::after,
*::before {
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 280px;
}

.h1 {
    margin-left: 70%;
    font-size: 15px;
}

.img {
    margin-left: 50%;
