*,
*::after,
*::before {
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: auto;
}

.h1 {
    margin-left: 200px;
    font-size: 15px;
}

.img {
    margin-left: 150px;
}

.inputDiv {
    min-height: 20px;
    margin-left: 200px;
    margin-top: 19px;
}


/* 
.word {
    max-height: 10px;
    font-size: 10px;
} */

.button {
    margin-left: 280px;
    margin-top: -19px;
    display: flex;
}